.container {
  max-width: 1600px;
}

.header_title {
  font-size: 1.4rem;
  font-family: "Silkscreen", cursive;
}
.phone-icon {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.view {
  margin-top: 47px;
  height: 50vh !important;
  background: url("./img/Filipa\ Saldanha.jpg") center/cover no-repeat;
  /* Photo by Filipa Saldanha on Unsplash */
}

@media (min-width: 400px) {
  .view {
    height: 70vh !important;
  }
}
@media (min-width: 550px) {
  .view {
    height: 80vh !important;
  }
}
@media (min-width: 650px) {
  .view {
    margin-top: 54px;
    background: url("./img/robLambert.jpg") center/cover no-repeat;
    /* Photo by Rob Lambert on Unsplash */
  }
  .header_title {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .view {
    height: 70vh !important;
  }
}

.home-heading {
  position: relative;
  min-height: 400px;
  background: url("./img/syd-mills.jpg") center/cover no-repeat;
  /* Photo by Syd Mills on Unsplash */
  background-attachment: fixed;
  text-align: center;
  color: #fff;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.about-img {
  margin-top: -50px;
}

footer {
  background: #000;
}
